<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário exemplo de rota get</title>
  </head>
  <body>
    <form action="/form" method="POST">
      <label>Nome: </label>
      <input type="text" name="name" placeholder="Nome" />
      <label>Idade: </label>
      <input type="text" name="age" placeholder="Idade" />
      <input type="submit" value="Enviar respostas" />
    </form>
  </body>
</html>
